@import "../archivoSCSS/variables";
@import "../archivoSCSS/querie";
@import "../archivoSCSS/mixin";


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
        background-color: $blanc;
        
    }


nav{ 
    background-color: map-get($map: $coloresPrincipales, $key:header );
    
    
    div{

      a{

        font-family: $font1;

        } 
         div{

            ul{
                li{
                    a{
                        font-family: $font2;
                        color: $blanc;
                    }
                }
            }
         }
    }
    
}
.container-slider{
    padding: 0;
    margin: auto;
    background-color: $blanc;
    width: 600px;
    overflow: hidden;
    ul{
        li{
            list-style: none;
        }
        
    }
    .slider{
        display: flex;
        animation: cambio 20s infinite alternate linear;
        width: 400%;
        li{
            width:100%;
            height: inherit;
            background-color: $blanc;
            margin: 50px;
            padding: 10px;

            img{
                width: 100%;
                height: 300px;
                object-fit: cover;
                margin: auto;

            }
            
        }
        }

}

@keyframes cambio {
    0%{ 
        margin-left: 0;
    }
    20%{
        margin-left: 0;
    }



    25%{
        margin-left: -100%;
    }
    45%{
        margin-left: -100%;
    }



    50%{
        margin-left: -200%;
    }
    70%{
        margin-left: -200%;
    }


    75%{
        margin-left: -300%;
    }
    100%{
        margin-left: -300%;
    }

}

