@charset "UTF-8";
/*
$azulC:#4ae7ff; se reemplaso este variable en el mapa 
*/
/*
$azulcl:rgba(76, 182, 198,.2); se reemplaso este variable en el mapa 
*/
/*VARIABLES PARA LAS OPERACIONES*/
/*MAPAS:  este mapa se lo aplique al nav y al footer */
/*MAPA -MAP-GET  √  */
/*MIIXN - REUTILIZANDO CODIGO  √ */
/*EXTEND MODIFICANDO UNO O MAS CLACES √ */
/*SEO √ */
/*EXPLICAR LOS CAMBIOS REALIZADOS E INCLUIR EL LINK DEL REPOSITORIO*/
/*
$azulC:#4ae7ff; se reemplaso este variable en el mapa 
*/
/*
$azulcl:rgba(76, 182, 198,.2); se reemplaso este variable en el mapa 
*/
/*VARIABLES PARA LAS OPERACIONES*/
/*MAPAS:  este mapa se lo aplique al nav y al footer */
/*MAPA -MAP-GET  √  */
/*MIIXN - REUTILIZANDO CODIGO  √ */
/*EXTEND MODIFICANDO UNO O MAS CLACES √ */
/*SEO √ */
/*EXPLICAR LOS CAMBIOS REALIZADOS E INCLUIR EL LINK DEL REPOSITORIO*/
/*ESTE MIXIN LO UTILICE PARA LOS ESTILOS DE LA ETIQUETA P CON LA CLECE MENSAJE */
/* PARA PANTALLAS CHICAS DE 320PX*/
@media screen and (min-width: 320px) {
  * {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  /*======================INDEX======================*/
  .contenido {
    width: 100%;
    height: auto;
    margin: 0;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
    -ms-grid-rows: auto auto auto;
        grid-template-rows: auto auto auto;
        grid-template-areas: "parrafo parrafo" "slider slider"  "mensaje mensaje";
  }
  .contenido .container-slider {
    border: 5px solid black;
    padding: 0;
    margin: 0;
    background-color: white;
    width: 400px;
    overflow: hidden;
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: slider;
  }
  .contenido .container-slider ul li {
    list-style: none;
  }
  .contenido .container-slider .slider {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-animation: cambio 20s infinite alternate linear;
            animation: cambio 20s infinite alternate linear;
    width: 400%;
  }
  .contenido .container-slider .slider li {
    width: 100%;
    height: inherit;
    background-color: white;
    margin: 30px;
    padding: 5px;
  }
  .contenido .container-slider .slider li img {
    width: 90%;
    height: 200px;
    -o-object-fit: cover;
       object-fit: cover;
    margin: auto;
  }
  .parrafo {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: parrafo;
  }
  .parrafo h1 {
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-top: 5px double #4ae7ff;
    border-bottom: 5px double #4ae7ff;
  }
  .parrafo h1 span {
    --total: calc(var(--duration)
            + var(--delay));
    position: relative;
    display: block;
    color: transparent;
    overflow: hidden;
    -webkit-animation: revealText 1s var(--total) forwards;
            animation: revealText 1s var(--total) forwards;
    z-index: -10;
    font-weight: bold;
  }
  .parrafo h1 span span::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transform-origin: left;
            transform-origin: left;
    -webkit-animation: rollIn var(--duration) var(--delay) forwards, rollOut var(--duration) var(--total) forwards;
            animation: rollIn var(--duration) var(--delay) forwards, rollOut var(--duration) var(--total) forwards;
  }
  @-webkit-keyframes revealText {
    to {
      color: #0a0909;
    }
  }
  @keyframes revealText {
    to {
      color: #0a0909;
    }
  }
  @-webkit-keyframes rollIn {
    from {
      -webkit-transform: scaleX(0);
              transform: scaleX(0);
    }
    to {
      -webkit-transform: scaleX(1);
              transform: scaleX(1);
    }
  }
  @keyframes rollIn {
    from {
      -webkit-transform: scaleX(0);
              transform: scaleX(0);
    }
    to {
      -webkit-transform: scaleX(1);
              transform: scaleX(1);
    }
  }
  @-webkit-keyframes rollOut {
    from {
      -webkit-transform: scaleX(0);
              transform: scaleX(0);
    }
    to {
      -webkit-transform: scaleX(100%);
              transform: scaleX(100%);
    }
  }
  @keyframes rollOut {
    from {
      -webkit-transform: scaleX(0);
              transform: scaleX(0);
    }
    to {
      -webkit-transform: scaleX(100%);
              transform: scaleX(100%);
    }
  }
  .mensaje {
    width: 100%;
    height: 400px;
    margin: 10px 0;
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: mensaje;
    background-image: linear-gradient(45deg, rgba(249, 244, 244, 0.6) 30%, rgba(252, 254, 255, 0.8)), url(../img/fondo3.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    -o-object-fit: contain;
       object-fit: contain;
    /*AL PARRAFO LE AGREGUE EL MIXIN y comente los valores ateriores*/
    /*
        p{  
            padding: auto;
            margin: 40px;
            font-family: $font2;
            letter-spacing: 2px;
        }*/
  }
  .mensaje span {
    display: block;
    text-align: center;
    font-family: "Fascinate Inline", cursive;
    font-size: 1.6rem;
  }
  .mensaje p {
    padding: auto;
    margin: 40px;
    font-family: "Rubik Puddles", cursive;
    letter-spacing: 2px;
    color: black;
  }
  /*======================MENU======================*/
  .menu {
    background-color: #f2f2f2;
    margin-top: 5px;
    border: 1px solid #4ae7ff;
  }
  .menu a {
    text-align: center;
    border-bottom: 2px double #4ae7ff;
  }
  .menu a i {
    font-size: 4rem;
    color: black;
  }
  .menu p {
    font-size: 1.2rem;
    font-weight: bold;
  }
  .carta {
    width: 100%;
  }
  .carta p {
    text-align: center;
    font-size: 1.4rem;
    font-family: "Courier New", Courier, monospace;
  }
  .carta p span {
    font-size: 1rem;
    font-family: "Rubik Puddles", cursive;
  }
  .carta .resetas div {
    background-color: #f2f2f2;
    margin: 5px;
    border: 1px solid #4ae7ff;
  }
  .carta .resetas div p:first-child {
    font-size: 1rem;
    font-weight: bold;
  }
  .carta .resetas div p:first-child span {
    font-size: 1.3rem;
    font-family: "Fascinate Inline", cursive;
  }
  .carta .resetas div p:last-child {
    font-size: .8rem;
  }
  .carta .resetas div div {
    display: none;
  }
  .postre {
    width: 100%;
    height: 550px;
    background-image: linear-gradient(45deg, rgba(245, 236, 236, 0.1) 30%, rgba(43, 175, 201, 0.1)), url(../img/helado.webp);
    background-repeat: no-repeat;
    background-position: center;
    -o-object-fit: cover;
       object-fit: cover;
    background-size: cover;
    margin: 10px 0;
    border-radius: 5px;
  }
  .postre p {
    text-align: center;
    width: 60%;
    margin: auto;
    font-size: 1.8rem;
    font-family: "Rubik Puddles", cursive;
    border-bottom: 5px double #4ae7ff;
  }
  .postre div {
    width: 90%;
    height: 110px;
    margin: 10px 5%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-radius: 10px;
    background-color: rgba(242, 242, 242, 0.4);
    cursor: pointer;
  }
  .postre div p {
    text-align: center;
    font-size: 1.6rem;
    letter-spacing: 7px;
    font-family: "Courier New", Courier, monospace;
    font-weight: bold;
  }
  /*============NSOTROS===============*/
  .nosotros {
    width: 100%;
  }
  .nosotros div {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .nosotros div p {
    font-size: 1.8rem;
    font-family: "Fascinate Inline", cursive;
    font-weight: bold;
    text-align: center;
  }
  .nosotros div div {
    background-color: #f2f2f2;
    width: 100%;
    height: 400px;
    margin: 10px 0 10px 0;
  }
  .nosotros div div img {
    width: 90%;
    height: 70%;
    -o-object-fit: cover;
       object-fit: cover;
    margin: auto;
  }
  .nosotros div div p {
    margin: 0;
    width: 100%;
    height: 20%;
    font-size: 1.2rem;
    font-family: "Courier New", Courier, monospace;
    font-weight: 500;
  }
  .nosotros div div p span {
    display: block;
    font-size: 1rem;
    font-family: "Rubik Puddles", cursive;
    font-weight: 900;
  }
  /*============HORARIOS===============*/
  .horarios {
    margin: 10px 0;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .horarios h1 {
    text-align: center;
    font-size: 1.3rem;
    font-family: "Rubik Puddles", cursive;
    background-color: #f2f2f2;
  }
  .horarios h1 p {
    font-size: 1rem;
    font-family: "Courier New", Courier, monospace;
    font-weight: bold;
  }
  .horarios div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #f2f2f2;
    padding: 10px;
  }
  .horarios div h2 {
    text-align: center;
    font-size: 1.2rem;
    font-family: cursive;
  }
  .horarios div p {
    text-align: center;
    width: 70%;
    border-bottom: 3px double #4ae7ff;
  }
  .horarios div button {
    cursor: pointer;
  }
  /*============CONTACTO===============*/
  .contacto {
    width: 100%;
    border: 4px solid #4ae7ff;
    margin: 10px 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #f2f2f2;
  }
  .contacto div {
    width: 50%;
    border-bottom: 3px double #4ae7ff;
  }
  .contacto div p {
    text-align: center;
  }
  .contacto div p a {
    color: black;
  }
  /*============FACTURAS===============*/
  .facturas {
    background-color: #f2f2f2;
    width: 100%;
    margin: 25px auto;
  }
  .facturas .row {
    width: 90%;
    border-bottom: 4px double #4ae7ff;
    margin: 25px auto;
  }
  .facturas .row p:first-child {
    font-weight: bold;
  }
  .facturas .row p {
    text-align: center;
    font-size: 1.1rem;
    font-family: "Courier New", Courier, monospace;
    margin-top: 5px;
  }
  .facturas .row form {
    width: 90%;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    overflow: hidden;
  }
  .facturas .row form p label button {
    margin-top: 10px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  /*============FOOTER===============*/
  footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
    height: 250px;
    background-color: #4ae7ff;
    margin-bottom: 0;
    padding-bottom: 0;
    z-index: 100;
  }
  footer .parrU {
    display: inline;
    font-size: .8em;
    font-family: "Fascinate Inline", cursive;
    border-bottom: 5px double white;
    color: white;
    margin: 10px;
  }
  footer ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-column-gap: 25px;
            column-gap: 25px;
  }
  footer ul li {
    margin: 15px;
    list-style: none;
  }
  footer ul li a {
    text-decoration: none;
    width: 60px;
    height: 60px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 26px;
    color: white;
    border-radius: 50%;
    outline: 2px solid white;
    -webkit-transition-property: outline-offset, outline-color, background-color;
    transition-property: outline-offset, outline-color, background-color;
    -webkit-transition-duration: .25s;
            transition-duration: .25s;
  }
  footer ul a:hover {
    outline-offset: 4px;
  }
  footer ul a:hover i {
    -webkit-animation: shake .25s;
            animation: shake .25s;
  }
  footer ul .icoU a:hover {
    background-color: #0077b5;
    outline-color: #0077b5;
  }
  footer ul .icoD a:hover {
    background-color: #1da1f2;
    outline-color: #1da1f2;
  }
  footer ul .icoT a:hover {
    background-image: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
    outline-color: #a02d76;
  }
  @-webkit-keyframes shake {
    10% {
      -webkit-transform: rotate(15deg);
              transform: rotate(15deg);
    }
    20% {
      -webkit-transform: rotate(-15deg);
              transform: rotate(-15deg);
    }
    30% {
      -webkit-transform: rotate(15deg);
              transform: rotate(15deg);
    }
    40% {
      -webkit-transform: rotate(-15deg);
              transform: rotate(-15deg);
    }
  }
  @keyframes shake {
    10% {
      -webkit-transform: rotate(15deg);
              transform: rotate(15deg);
    }
    20% {
      -webkit-transform: rotate(-15deg);
              transform: rotate(-15deg);
    }
    30% {
      -webkit-transform: rotate(15deg);
              transform: rotate(15deg);
    }
    40% {
      -webkit-transform: rotate(-15deg);
              transform: rotate(-15deg);
    }
  }
  footer a {
    text-decoration: none;
    color: white;
  }
  footer .parrD {
    font-size: .9rem;
  }
}

/*=============PARA PANTALLAS A MAS DE 1000PX==========*/
@media screen and (min-width: 1000px) {
  .contenido {
    width: 90%;
    margin: auto;
    background-color: #f2f2f2;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
    -ms-grid-rows: auto auto;
        grid-template-rows: auto auto;
        grid-template-areas: "parrafo  slider" "mensaje  mensaje";
  }
  .container-slider {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: slider;
    margin: auto;
    width: 100%;
  }
  .parrafo {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: parrafo;
    width: 100%;
    margin: auto;
    z-index: 1;
  }
  .mensaje {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: mensaje;
    margin: auto;
    width: 50%;
  }
  .horarios h1 {
    margin: 20px auto;
    width: 70%;
  }
  .horarios div {
    margin: 10px auto;
    width: 70%;
  }
  .contacto {
    width: 60%;
    margin: 20px auto;
  }
  .facturas {
    width: 50%;
    padding: 50px;
    margin: 100px auto;
  }
  /*-------------MENU-------------*/
  .resetas {
    height: 1800px;
    border: 1px solid black;
    display: -ms-grid;
    display: grid;
    row-gap: none;
    -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
    -ms-grid-rows: 33% 33% 33%;
        grid-template-rows: 33% 33% 33%;
        grid-template-areas: "uno  dos" "tres  cuatro" "cinco  seis";
  }
  .resetas #uno {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: uno;
  }
  .resetas #dos {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: dos;
  }
  .resetas #tres {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: tres;
  }
  .resetas #cuatro {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: cuatro;
  }
  .resetas #cinco {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: cinco;
  }
  .resetas #seis {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
    grid-area: seis;
  }
  .resetas div {
    width: 80%;
    height: 100%;
    margin: auto auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    justify-self: center;
  }
  .resetas div {
    height: 95%;
    margin: 10px;
    overflow: hidden;
    -webkit-box-shadow: 6px 0px 16px rgba(0, 0, 0, 0.3);
            box-shadow: 6px 0px 16px rgba(0, 0, 0, 0.3);
  }
  .resetas div div {
    border: 1px solid black;
    width: 100%;
    height: 70%;
    margin: auto;
  }
  .resetas div div img {
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

/*ESTE MIXIN LO UTILICE PARA LOS ESTILOS DE LA ETIQUETA P CON LA CLECE MENSAJE */
/*estilos generales para los textos*/
/*
$azulC:#4ae7ff; se reemplaso este variable en el mapa 
*/
/*
$azulcl:rgba(76, 182, 198,.2); se reemplaso este variable en el mapa 
*/
/*VARIABLES PARA LAS OPERACIONES*/
/*MAPAS:  este mapa se lo aplique al nav y al footer */
/*MAPA -MAP-GET  √  */
/*MIIXN - REUTILIZANDO CODIGO  √ */
/*EXTEND MODIFICANDO UNO O MAS CLACES √ */
/*SEO √ */
/*EXPLICAR LOS CAMBIOS REALIZADOS E INCLUIR EL LINK DEL REPOSITORIO*/
.textos, .parrafo, .resetas p:first-child, .menu p {
  font-family: "Rubik Puddles", cursive;
  color: black;
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: white;
}

nav {
  background-color: rgba(76, 182, 198, 0.2);
}

nav div a {
  font-family: "Fascinate Inline", cursive;
}

nav div div ul li a {
  font-family: "Rubik Puddles", cursive;
  color: white;
}

.container-slider {
  padding: 0;
  margin: auto;
  background-color: white;
  width: 600px;
  overflow: hidden;
}

.container-slider ul li {
  list-style: none;
}

.container-slider .slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation: cambio 20s infinite alternate linear;
          animation: cambio 20s infinite alternate linear;
  width: 400%;
}

.container-slider .slider li {
  width: 100%;
  height: inherit;
  background-color: white;
  margin: 50px;
  padding: 10px;
}

.container-slider .slider li img {
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  margin: auto;
}

@-webkit-keyframes cambio {
  0% {
    margin-left: 0;
  }
  20% {
    margin-left: 0;
  }
  25% {
    margin-left: -100%;
  }
  45% {
    margin-left: -100%;
  }
  50% {
    margin-left: -200%;
  }
  70% {
    margin-left: -200%;
  }
  75% {
    margin-left: -300%;
  }
  100% {
    margin-left: -300%;
  }
}

@keyframes cambio {
  0% {
    margin-left: 0;
  }
  20% {
    margin-left: 0;
  }
  25% {
    margin-left: -100%;
  }
  45% {
    margin-left: -100%;
  }
  50% {
    margin-left: -200%;
  }
  70% {
    margin-left: -200%;
  }
  75% {
    margin-left: -300%;
  }
  100% {
    margin-left: -300%;
  }
}

/*EXTENDS*/
/*# sourceMappingURL=styles.css.map */