/*
$azulC:#4ae7ff; se reemplaso este variable en el mapa 
*/
/*
$azulcl:rgba(76, 182, 198,.2); se reemplaso este variable en el mapa 
*/
/*VARIABLES PARA LAS OPERACIONES*/
/*MAPAS:  este mapa se lo aplique al nav y al footer */
/*
$azulC:#4ae7ff; se reemplaso este variable en el mapa 
*/
/*
$azulcl:rgba(76, 182, 198,.2); se reemplaso este variable en el mapa 
*/
/*VARIABLES PARA LAS OPERACIONES*/
/*MAPAS:  este mapa se lo aplique al nav y al footer */
/*ESTE MIXIN LO UTILICE PARA LOS ESTILOS DE LA ETIQUETA P CON LA CLECE MENSAJE */
/* PARA PANTALLAS CHICAS DE 320PX*/
@media screen and (min-width: 320px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  /*======================INDEX======================*/
  .navbar-expand-lg {
    z-index: 100;
  }

  .contenido {
    width: 100%;
    height: auto;
    margin: 0;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    grid-template-areas: "parrafo parrafo" "slider slider" "mensaje mensaje";
  }
  .contenido .container-slider {
    border: 5px solid black;
    padding: 0;
    margin: 0;
    background-color: white;
    width: 400px;
    overflow: hidden;
    grid-area: slider;
  }
  .contenido .container-slider ul li {
    list-style: none;
  }
  .contenido .container-slider .slider {
    display: flex;
    -webkit-animation: cambio 20s infinite alternate linear;
            animation: cambio 20s infinite alternate linear;
    width: 400%;
  }
  .contenido .container-slider .slider li {
    width: 100%;
    height: inherit;
    background-color: white;
    margin: 30px;
    padding: 5px;
  }
  .contenido .container-slider .slider li img {
    width: 90%;
    height: 200px;
    -o-object-fit: cover;
       object-fit: cover;
    margin: auto;
  }

  .parrafo {
    grid-area: parrafo;
  }
  .parrafo h1 {
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
    align-items: center;
    border-top: 5px double #4ae7ff;
    border-bottom: 5px double #4ae7ff;
  }
  .parrafo h1 span {
    --total: calc(var(--duration)
    + var(--delay));
    position: relative;
    display: block;
    color: transparent;
    overflow: hidden;
    -webkit-animation: revealText 1s var(--total) forwards;
            animation: revealText 1s var(--total) forwards;
    z-index: -10;
    font-weight: bold;
  }
  .parrafo h1 span span::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: scaleX(0);
    transform-origin: left;
    -webkit-animation: rollIn var(--duration) var(--delay) forwards, rollOut var(--duration) var(--total) forwards;
            animation: rollIn var(--duration) var(--delay) forwards, rollOut var(--duration) var(--total) forwards;
  }
  @-webkit-keyframes revealText {
    to {
      color: rgb(10, 9, 9);
    }
  }
  @keyframes revealText {
    to {
      color: rgb(10, 9, 9);
    }
  }
  @-webkit-keyframes rollIn {
    from {
      transform: scaleX(0);
    }
    to {
      transform: scaleX(1);
    }
  }
  @keyframes rollIn {
    from {
      transform: scaleX(0);
    }
    to {
      transform: scaleX(1);
    }
  }
  @-webkit-keyframes rollOut {
    from {
      transform: scaleX(0);
    }
    to {
      transform: scaleX(100%);
    }
  }
  @keyframes rollOut {
    from {
      transform: scaleX(0);
    }
    to {
      transform: scaleX(100%);
    }
  }

  .mensaje {
    width: 100%;
    height: 400px;
    margin: 10px 0;
    grid-area: mensaje;
    background-image: linear-gradient(45deg, rgba(249, 244, 244, 0.6) 30%, rgba(252, 254, 255, 0.8)), url(../img/fondo3.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    -o-object-fit: contain;
       object-fit: contain;
    /*AL PARRAFO LE AGREGUE EL MIXIN*/
  }
  .mensaje span {
    display: block;
    text-align: center;
    font-family: "Fascinate Inline", cursive;
    font-size: 1.6rem;
  }
  .mensaje p {
    padding: auto;
    margin: 40px;
    font-family: "Rubik Puddles", cursive;
    letter-spacing: 2px;
    color: black;
  }

  /*======================MENU======================*/
  .menu {
    background-color: rgb(242, 242, 242);
    margin-top: 5px;
    border: 1px solid #4ae7ff;
  }
  .menu a {
    text-align: center;
    border-bottom: 2px double #4ae7ff;
  }
  .menu a i {
    font-size: 4rem;
    color: black;
  }
  .menu p {
    font-size: 1.2rem;
    font-weight: bold;
  }

  .carta {
    width: 100%;
  }
  .carta p {
    text-align: center;
    font-size: 1.4rem;
    font-family: "Courier New", Courier, monospace;
  }
  .carta p span {
    font-size: 1rem;
    font-family: "Rubik Puddles", cursive;
  }
  .carta .resetas {
    height: 2500px;
  }
  .carta .resetas div {
    display: flex;
    flex-direction: column;
    height: 400px;
    margin: 10px;
    overflow: hidden;
    box-shadow: 6px 0px 16px rgba(0, 0, 0, 0.3);
    background-color: rgb(242, 242, 242);
    border: 0.9px solid #4ae7ff;
  }
  .carta .resetas div p:first-child {
    font-size: 1rem;
    font-weight: bold;
  }
  .carta .resetas div p:first-child span {
    font-size: 1.3rem;
    font-family: "Fascinate Inline", cursive;
  }
  .carta .resetas div p:last-child {
    font-size: 0.8rem;
  }
  .carta .resetas div div {
    display: flex;
    align-self: center;
    width: 90%;
    height: 70%;
  }
  .carta .resetas div div img {
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
    height: 100%;
  }

  .postre {
    height: 1500px;
    width: 100%;
    background-image: linear-gradient(45deg, rgba(147, 130, 130, 0.702) 30%, rgba(43, 175, 201, 0.1)), url(../img/helado.webp);
    background-repeat: no-repeat;
    background-position: center;
    -o-object-fit: cover;
       object-fit: cover;
    background-size: cover;
    margin: 10px 0;
    border-radius: 5px;
  }
  .postre p {
    text-align: center;
    width: 60%;
    margin: auto;
    font-size: 1.8rem;
    font-family: "Rubik Puddles", cursive;
    border-bottom: 5px double #4ae7ff;
  }
  .postre div {
    width: 90%;
    height: 350px;
    margin: 10px 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: rgba(242, 242, 242, 0.4);
    cursor: pointer;
  }
  .postre div p {
    text-align: center;
    font-size: 1.6rem;
    letter-spacing: 7px;
    font-family: "Courier New", Courier, monospace;
    font-weight: bold;
  }
  .postre div div {
    width: 100%;
    height: 300px;
    margin: 5px;
    margin-bottom: 0;
  }
  .postre div div img {
    -o-object-fit: cover;
       object-fit: cover;
    width: 60%;
    height: 60%;
    border-radius: 20px;
  }

  /*============NSOTROS===============*/
  .nosotros {
    width: 100%;
  }
  .nosotros div {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .nosotros div p {
    font-size: 1.8rem;
    font-family: "Fascinate Inline", cursive;
    font-weight: bold;
    text-align: center;
  }
  .nosotros div div {
    background-color: rgb(242, 242, 242);
    width: 100%;
    height: 400px;
    margin: 10px 0 10px 0;
  }
  .nosotros div div img {
    width: 90%;
    height: 70%;
    -o-object-fit: cover;
       object-fit: cover;
    margin: auto;
  }
  .nosotros div div p {
    margin: 0;
    width: 100%;
    height: 20%;
    font-size: 1.2rem;
    font-family: "Courier New", Courier, monospace;
    font-weight: 500;
  }
  .nosotros div div p span {
    display: block;
    font-size: 1rem;
    font-family: "Rubik Puddles", cursive;
    font-weight: 900;
  }

  /*============HORARIOS===============*/
  .horarios {
    margin: 10px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .horarios h1 {
    text-align: center;
    font-size: 1.3rem;
    font-family: "Rubik Puddles", cursive;
    background-color: rgb(242, 242, 242);
  }
  .horarios h1 p {
    font-size: 1rem;
    font-family: "Courier New", Courier, monospace;
    font-weight: bold;
  }
  .horarios div {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(242, 242, 242);
    padding: 10px;
  }
  .horarios div h2 {
    text-align: center;
    font-size: 1.2rem;
    font-family: cursive;
  }
  .horarios div p {
    text-align: center;
    width: 70%;
    border-bottom: 3px double #4ae7ff;
  }
  .horarios div button {
    cursor: pointer;
  }

  /*============CONTACTO===============*/
  .contacto {
    width: 100%;
    border: 4px solid #4ae7ff;
    margin: 10px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(242, 242, 242);
  }
  .contacto div {
    width: 50%;
    border-bottom: 3px double #4ae7ff;
  }
  .contacto div p {
    text-align: center;
  }
  .contacto div p a {
    color: black;
  }

  /*============FACTURAS===============*/
  .facturas {
    background-color: rgb(242, 242, 242);
    width: 100%;
    margin: 25px auto;
  }
  .facturas .row {
    width: 90%;
    border-bottom: 4px double #4ae7ff;
    margin: 25px auto;
  }
  .facturas .row p:first-child {
    font-weight: bold;
  }
  .facturas .row p {
    text-align: center;
    font-size: 1.1rem;
    font-family: "Courier New", Courier, monospace;
    margin-top: 5px;
  }
  .facturas .row form {
    width: 90%;
    text-align: center;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }
  .facturas .row form p label button {
    margin-top: 10px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  /*============FOOTER===============*/
  footer {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    height: 250px;
    background-color: #4ae7ff;
    margin-bottom: 0;
    padding-bottom: 0;
    z-index: 100;
  }
  footer .parrU {
    display: inline;
    font-size: 0.8em;
    font-family: "Fascinate Inline", cursive;
    border-bottom: 5px double white;
    color: white;
    margin: 10px;
  }
  footer ul {
    display: flex;
    flex-direction: row;
    -moz-column-gap: 25px;
         column-gap: 25px;
  }
  footer ul li {
    margin: 15px;
    list-style: none;
  }
  footer ul li a {
    text-decoration: none;
    width: 60px;
    height: 60px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 26px;
    color: white;
    border-radius: 50%;
    outline: 2px solid white;
    transition-property: outline-offset, outline-color, background-color;
    transition-duration: 0.25s;
  }
  footer ul a:hover {
    outline-offset: 4px;
  }
  footer ul a:hover i {
    -webkit-animation: shake 0.25s;
            animation: shake 0.25s;
  }
  footer ul .icoU a:hover {
    background-color: #0077b5;
    outline-color: #0077b5;
  }
  footer ul .icoD a:hover {
    background-color: #1da1f2;
    outline-color: #1da1f2;
  }
  footer ul .icoT a:hover {
    background-image: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
    outline-color: #a02d76;
  }
  @-webkit-keyframes shake {
    10% {
      transform: rotate(15deg);
    }
    20% {
      transform: rotate(-15deg);
    }
    30% {
      transform: rotate(15deg);
    }
    40% {
      transform: rotate(-15deg);
    }
  }
  @keyframes shake {
    10% {
      transform: rotate(15deg);
    }
    20% {
      transform: rotate(-15deg);
    }
    30% {
      transform: rotate(15deg);
    }
    40% {
      transform: rotate(-15deg);
    }
  }
  footer a {
    text-decoration: none;
    color: white;
  }
  footer .parrD {
    font-size: 0.9rem;
  }
}
/*=============PARA PANTALLAS A MAS DE 1000PX==========*/
@media screen and (min-width: 1000px) {
  .contenido {
    width: 90%;
    margin: auto;
    background-color: rgb(242, 242, 242);
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto;
    grid-template-areas: "parrafo  slider" "mensaje  mensaje";
  }

  .container-slider {
    grid-area: slider;
    margin: auto;
    width: 100%;
  }

  .parrafo {
    grid-area: parrafo;
    width: 100%;
    margin: auto;
    z-index: 1;
  }

  .mensaje {
    grid-area: mensaje;
    margin: auto;
    width: 50%;
  }

  .horarios h1 {
    margin: 20px auto;
    width: 70%;
  }
  .horarios div {
    margin: 10px auto;
    width: 70%;
  }

  .contacto {
    width: 60%;
    margin: 20px auto;
  }

  .facturas {
    width: 50%;
    padding: 50px;
    margin: 100px auto;
  }

  /*-------------MENU-------------*/
  .resetas {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .resetas div {
    width: 60%;
    height: 100%;
    overflow: hidden;
    box-shadow: 6px 0px 16px rgba(0, 0, 0, 0.3);
  }
  .resetas div div {
    display: flex;
    align-self: center;
    width: 90%;
    height: 70%;
  }
  .resetas div div img {
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
    height: 100%;
  }

  .postre {
    height: 1500px;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto auto;
    grid-template-areas: "tituloPostre" " helados" "tartas" "crepas" "chocolates";
    /* MODIFICANDO LOS CONTENEDORES DE LA CALSE POSTRE*/
  }
  .postre .tituloPos {
    grid-area: tituloPostre;
  }
  .postre .helados {
    grid-area: helados;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    grid-template-areas: "img tex";
  }
  .postre .helados p {
    grid-area: tex;
  }
  .postre .helados div {
    grid-area: img;
  }
  .postre .tartas {
    grid-area: tartas;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    grid-template-areas: "tex img ";
  }
  .postre .tartas p {
    grid-area: tex;
  }
  .postre .tartas div {
    grid-area: img;
  }
  .postre .crepas {
    grid-area: crepas;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    grid-template-areas: "img tex";
  }
  .postre .crepas p {
    grid-area: tex;
  }
  .postre .crepas div {
    grid-area: img;
  }
  .postre .chocolates {
    grid-area: chocolates;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    grid-template-areas: "tex img ";
  }
  .postre .chocolates p {
    grid-area: tex;
  }
  .postre .chocolates div {
    grid-area: img;
  }
  .postre div {
    margin-top: 15px;
    height: 300px;
  }
  .postre div div {
    height: 300px;
    margin: 5px;
  }
  .postre div div img {
    -o-object-fit: cover;
       object-fit: cover;
    width: 90%;
    height: 90%;
    border-radius: 20px;
  }
}
/*ESTE MIXIN LO UTILICE PARA LOS ESTILOS DE LA ETIQUETA P CON LA CLECE MENSAJE */
/*estilos generales para los textos*/
/*
$azulC:#4ae7ff; se reemplaso este variable en el mapa 
*/
/*
$azulcl:rgba(76, 182, 198,.2); se reemplaso este variable en el mapa 
*/
/*VARIABLES PARA LAS OPERACIONES*/
/*MAPAS:  este mapa se lo aplique al nav y al footer */
.textos, .menu p, .resetas p:first-child, .parrafo {
  font-family: "Rubik Puddles", cursive;
  color: black;
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
}

nav {
  background-color: rgba(76, 182, 198, 0.2);
}
nav div a {
  font-family: "Fascinate Inline", cursive;
}
nav div div ul li a {
  font-family: "Rubik Puddles", cursive;
  color: white;
}

.container-slider {
  padding: 0;
  margin: auto;
  background-color: white;
  width: 600px;
  overflow: hidden;
}
.container-slider ul li {
  list-style: none;
}
.container-slider .slider {
  display: flex;
  -webkit-animation: cambio 20s infinite alternate linear;
          animation: cambio 20s infinite alternate linear;
  width: 400%;
}
.container-slider .slider li {
  width: 100%;
  height: inherit;
  background-color: white;
  margin: 50px;
  padding: 10px;
}
.container-slider .slider li img {
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  margin: auto;
}

@-webkit-keyframes cambio {
  0% {
    margin-left: 0;
  }
  20% {
    margin-left: 0;
  }
  25% {
    margin-left: -100%;
  }
  45% {
    margin-left: -100%;
  }
  50% {
    margin-left: -200%;
  }
  70% {
    margin-left: -200%;
  }
  75% {
    margin-left: -300%;
  }
  100% {
    margin-left: -300%;
  }
}

@keyframes cambio {
  0% {
    margin-left: 0;
  }
  20% {
    margin-left: 0;
  }
  25% {
    margin-left: -100%;
  }
  45% {
    margin-left: -100%;
  }
  50% {
    margin-left: -200%;
  }
  70% {
    margin-left: -200%;
  }
  75% {
    margin-left: -300%;
  }
  100% {
    margin-left: -300%;
  }
}
/*EXTENDS*//*# sourceMappingURL=styles.css.map */