/*ESTE MIXIN LO UTILICE PARA LOS ESTILOS DE LA ETIQUETA P CON LA CLECE MENSAJE */

@mixin texto ($color, $fuente) {
    padding: auto;
    margin: 40px;
    font-family: $fuente;
    letter-spacing: 2px;
    color: $color;
}

@mixin tamañoDeDivMenu ($top , $MasH){
    width: ($ancho2 - $MasH) ;
    height: $largo2 ;
    margin: $top auto;
    display: flex;
    flex-direction: column;
    justify-content:left ;
    justify-self: center;
}
