/*ESTE MIXIN LO UTILICE PARA LOS ESTILOS DE LA ETIQUETA P CON LA CLECE MENSAJE */

@mixin texto ($color, $fuente) {
    padding: auto;
    margin: 40px;
    font-family: $fuente;
    letter-spacing: 2px;
    color: $color;
}