@import "../archivoSCSS/variables";
/* PARA PANTALLAS CHICAS DE 300PX*/
@media screen and (min-width:300px) {
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }s
    .contenido{
        
        width: 100%;
        margin: auto;
        display: grid;
        grid-template-columns: auto auto auto auto;
        grid-template-rows: auto auto;
        grid-template-areas: 
                    "parrafo parrafo slider slider"
                    "mensaje mensaje mensaje mensaje ";
    }
    .container-slider{
        grid-area: slider;

    }
    .parrafo{
        grid-area: parrafo;
        width: 100%;
        margin: auto;
    }
    .mensaje{
        grid-area: mensaje;
        margin: auto;
        width: 70%;
    }
    /*MENU*/
    .resetas{
        width: 100%;
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto auto;
        grid-template-areas: 
                    "uno dos"
                    "tres cuatro"
                    "cinco seis";
        #uno{
            grid-area: uno;
            width:80%;
            margin: 10px auto;
        }
        #dos{
            grid-area: dos;
            width:80%;
            margin: 10px auto;
        }
        #tres{
            grid-area: tres;
            width:80%;
            margin: 10px auto;
        }
        #cuatro{
            grid-area: cuatro;
            width:80%;
            margin: 10px auto;
        }
        #cinco{
            grid-area: cinco;
            width:80%;
            margin: 10px auto;
        }
        #seis{
            grid-area: seis;
            width:80%;
            margin: 10px auto;
        }

    }
    .postre{
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: auto auto auto;
        grid-template-areas: 
                        "texto texto"
                        "helados tartas"
                        "crepas choco";
        
        p:first-child{
            text-align: center;
            width: 50%;
            grid-area: texto;
            margin: 50px auto;
            border-bottom: 5px double $azulC;

        }
        .helados{
            grid-area: helados;
            width: 80%;
            height: 70%;
            margin: 10px auto;
            p{
                border: none;
            }
        }
        .tartas{
            grid-area: tartas;
            width: 80%;
            height: 70%;
            margin: 10px auto;
            p{
                border: none;
            }
        }
        .crepas{
            grid-area: crepas;
            width: 80%;
            height: 70%;
            margin: 10px auto;
            p{
                border: none;
            }
        }
        .chocolates{
            grid-area: choco;
            width: 80%;
            height: 70%;
            margin: 10px auto;
            p{
                border: none;
            }
        }
    }
          
    .contacto{
        margin: 100px auto;
    }
    .facturas{
        margin: 200px auto;
        width: 90%;
    }
}
@media screen and (min-width:1000px) {
    .contenido{
        width: 90%;
        margin: auto;
        background-color: $colorf;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: auto auto;
        grid-template-areas: 
                    "parrafo  slider"
                    "mensaje  mensaje";
    }
    .container-slider{
        grid-area: slider;
        margin:auto;
        width: 100%;

    }
    .parrafo{
        grid-area: parrafo;
        width: 100%;
        margin: auto;
        z-index: 1;
    }
    .mensaje{
        grid-area: mensaje;
        margin: auto;
        width: 50%;
    }
    .horarios{
        h1{
            margin: 20px auto;
        width: 70%;
        }
        div{
            margin: 10px auto;
        width: 70%;
        }
    }
    .contacto{
        width: 60%;
    }
    .facturas{
        width: 50%;
        padding: 50px;
        margin: 100px auto;
    }
}