$font1:'Fascinate Inline', cursive;
$font2:"Rubik Puddles", cursive;
$font3: 'Courier New', Courier, monospace;
$azulC:#4ae7ff;
$azulF:#0f206c;
$blanc:white;
$Negro:black;
$azulcl:rgba(76, 182, 198,.2);
$gris:rgba(242,242,242,.4);
$colorf:rgb(242,242,242);
$size:1em;
$ancho:1000px;