$font1:'Fascinate Inline', cursive;
$font2:"Rubik Puddles", cursive;
$font3: 'Courier New', Courier, monospace;
/*
$azulC:#4ae7ff; se reemplaso este variable en el mapa 
*/
$azulF:#0f206c;
$blanc:white;
$Negro:black;
/*
$azulcl:rgba(76, 182, 198,.2); se reemplaso este variable en el mapa 
*/
$gris:rgba(242,242,242,.4);
$colorf:rgb(242,242,242);


/*VARIABLES PARA LAS OPERACIONES*/
$size:1em;
$size2:1rem;

$ancho:1000px;
$largo:1000px;

$ancho2:100%;
$largo2:100%;

$margin:5px;


/*MAPAS:  este mapa se lo aplique al nav y al footer */
$coloresPrincipales:(header:rgba(76, 182, 198,.2) ,footer:#4ae7ff  );

/*EXPLICAR LOS CAMBIOS REALIZADOS E INCLUIR EL LINK DEL REPOSITORIO*/
